@import "tailwindcss";

*,
*::before,
*::after {
  /* border: 1px solid red !important; */
}

html {
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
}

body {
  height: 100%;
  overflow: auto;
  display: grid;
  align-content: flex-start;
}

/* custom classes */
.material-symbols-outlined {
  font-family: var(--materialSymbolsOutlined);
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.material-symbols-rounded {
  font-family: var(--materialSymbolsRounded);
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.material-symbols-sharp {
  font-family: var(--materialSymbolsSharp);
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

@media (prefers-reduced-motion: no-preference) {
  .translateOnScroll {
    animation: translate both linear;
    animation-timeline: view(70vh 10vh);
  }

  .opacityOnScroll {
    animation: opacity both linear;
    animation-timeline: view(70vh 10vh);
  }

  .scaleOnScroll {
    animation: scale both linear;
    animation-timeline: view(70vh 10vh);
  }

  @keyframes opacity {
    from {
      opacity: var(--opacityFrom, 0);
    }

    to {
      opacity: var(--opacityTo, 1);
    }
  }

  @keyframes translate {
    from {
      translate: var(--translateFrom, 0 100%);
    }

    to {
      translate: var(--translateTo, 0 0);
    }
  }

  @keyframes scale {
    from {
      scale: var(--scaleFrom, 0);
    }

    to {
      scale: var(--scaleTo, 1);
    }
  }

  @keyframes transformRotateY {
    from {
      transform: rotateY(var(--transformRotateYFrom, 90deg));
    }

    to {
      transform: rotateY(var(--transformRotateYTo, 0deg));
    }
  }

  @keyframes rotate {
    from {
      rotate: var(--rotateFrom, 90deg);
    }

    to {
      rotate: var(--rotateTo, 0deg);
    }
  }
}