@import "tailwindcss";

*,
*::before,
*::after {
  border: 1px solid red !important;
}

html {
  /* scroll-behavior: smooth; */
  width: 100%;
  height: 100%;
}

body {
  height: 100%;
  overflow: auto;
  display: grid;
  align-content: flex-start;
}

/* custom classes */
.material-symbols-outlined {
  font-family: var(--materialSymbolsOutlined);
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.material-symbols-rounded {
  font-family: var(--materialSymbolsRounded);
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.material-symbols-sharp {
  font-family: var(--materialSymbolsSharp);
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}